
.bgImage{
    background-image: url('https://st.depositphotos.com/1069046/2387/i/600/depositphotos_23872187-stock-photo-auto-parts.jpg');
    height: 400px;
   background-position: center;
}

/* dashboard  */
.style{
    background-color: #0e2f44;
    color: rgb(236, 236, 236);
    margin: 10px;
    font-weight: bolder;
    font-size: 17px;
}